[submodule "Assignment-1"]
	path = Assignment-1
	url = https://github.com/teja730/Assignment-1.git
[submodule "Assignment-2"]
	path = Assignment-2
	url = https://github.com/teja730/Assignment-2.git
[submodule "Assignment-3"]
	path = Assignment-3
	url = https://github.com/teja730/Assignment-3.git
[submodule "Assignment-4"]
	path = Assignment-4
	url = https://github.com/teja730/Assignment-4.git
[submodule "Assignment-6"]
	path = Assignment-6
	url = https://github.com/teja730/Assignment-6.git
